{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://container.googleapis.com/"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
        "title": "Kubernetes Engine",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://container.googleapis.com/$discovery/rest?version=v1",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "container"
    },
    "externalDocs": {
        "url": "https://cloud.google.com/container-engine/"
    },
    "tags": [
        {
            "name": "projects"
        }
    ],
    "paths": {
        "/v1/projects/{projectId}/zones/{zone}/clusters": {
            "get": {
                "description": "Lists all clusters owned by a project in either the specified zone or all\nzones.",
                "operationId": "container.projects.zones.clusters.list",
                "parameters": [
                    {
                        "description": "The parent (project and location) where the clusters will be listed.\nSpecified in the format 'projects/*/locations/*'.\nLocation \"-\" matches all zones and all regions.",
                        "in": "query",
                        "name": "parent",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the parent field.",
                        "in": "path",
                        "name": "projectId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides, or \"-\" for all zones.\nThis field has been deprecated and replaced by the parent field.",
                        "in": "path",
                        "name": "zone",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "ListClustersResponse is the result of ListClustersRequest.",
                                    "properties": {
                                        "clusters": {
                                            "description": "A list of clusters in the project in the specified zone, or\nacross all ones.",
                                            "items": {
                                                "description": "A Google Kubernetes Engine cluster.",
                                                "properties": {
                                                    "addonsConfig": {
                                                        "description": "Configurations for the various addons available to run in the cluster.",
                                                        "properties": {
                                                            "horizontalPodAutoscaling": {
                                                                "description": "Configuration for the horizontal pod autoscaling feature, which\nincreases or decreases the number of replica pods a replication controller\nhas based on the resource usage of the existing pods.",
                                                                "properties": {
                                                                    "disabled": {
                                                                        "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster.\nWhen enabled, it ensures that a Heapster pod is running in the cluster,\nwhich is also used by the Cloud Monitoring service.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "httpLoadBalancing": {
                                                                "description": "Configuration for the HTTP (L7) load balancing controller addon, which\nmakes it easy to set up HTTP load balancers for services in a cluster.",
                                                                "properties": {
                                                                    "disabled": {
                                                                        "description": "Whether the HTTP Load Balancing controller is enabled in the cluster.\nWhen enabled, it runs a small pod in the cluster that manages the load\nbalancers.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "kubernetesDashboard": {
                                                                "description": "Configuration for the Kubernetes Dashboard.",
                                                                "properties": {
                                                                    "disabled": {
                                                                        "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "networkPolicyConfig": {
                                                                "description": "Configuration for NetworkPolicy. This only tracks whether the addon\nis enabled or not on the Master, it does not track whether network policy\nis enabled for the nodes.",
                                                                "properties": {
                                                                    "disabled": {
                                                                        "description": "Whether NetworkPolicy is enabled for this cluster.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "clusterIpv4Cidr": {
                                                        "description": "The IP address range of the container pods in this cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`). Leave blank to have\none automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
                                                        "type": "string"
                                                    },
                                                    "conditions": {
                                                        "description": "Which conditions caused the current cluster state.",
                                                        "items": {
                                                            "description": "StatusCondition describes why a cluster or a node pool has a certain status\n(e.g., ERROR or DEGRADED).",
                                                            "properties": {
                                                                "code": {
                                                                    "description": "Machine-friendly representation of the condition",
                                                                    "enum": [
                                                                        "UNKNOWN",
                                                                        "GCE_STOCKOUT",
                                                                        "GKE_SERVICE_ACCOUNT_DELETED",
                                                                        "GCE_QUOTA_EXCEEDED",
                                                                        "SET_BY_OPERATOR"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "message": {
                                                                    "description": "Human-friendly representation of the condition",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "createTime": {
                                                        "description": "[Output only] The time the cluster was created, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                                                        "type": "string"
                                                    },
                                                    "currentMasterVersion": {
                                                        "description": "[Output only] The current software version of the master endpoint.",
                                                        "type": "string"
                                                    },
                                                    "currentNodeCount": {
                                                        "description": "[Output only]  The number of nodes currently in the cluster. Deprecated.\nCall Kubernetes API directly to retrieve node information.",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "currentNodeVersion": {
                                                        "description": "[Output only] Deprecated, use\n[NodePool.version](/kubernetes-engine/docs/reference/rest/v1/projects.zones.clusters.nodePool)\ninstead. The current version of the node software components. If they are\ncurrently at multiple versions because they're in the process of being\nupgraded, this reflects the minimum version of all nodes.",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "An optional description of this cluster.",
                                                        "type": "string"
                                                    },
                                                    "enableKubernetesAlpha": {
                                                        "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha\nAPI groups (e.g. v1alpha1) and features that may not be production ready in\nthe kubernetes version of the master and nodes.\nThe cluster has no SLA for uptime and master/node upgrades are disabled.\nAlpha enabled clusters are automatically deleted thirty days after\ncreation.",
                                                        "type": "boolean"
                                                    },
                                                    "endpoint": {
                                                        "description": "[Output only] The IP address of this cluster's master endpoint.\nThe endpoint can be accessed from the internet at\n`https://username:password@endpoint/`.\n\nSee the `masterAuth` property of this resource for username and\npassword information.",
                                                        "type": "string"
                                                    },
                                                    "expireTime": {
                                                        "description": "[Output only] The time the cluster will be automatically\ndeleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                                                        "type": "string"
                                                    },
                                                    "initialClusterVersion": {
                                                        "description": "The initial Kubernetes version for this cluster.  Valid versions are those\nfound in validMasterVersions returned by getServerConfig.  The version can\nbe upgraded over time; such upgrades are reflected in\ncurrentMasterVersion and currentNodeVersion.\n\nUsers may specify either explicit versions offered by\nKubernetes Engine or version aliases, which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an explicit Kubernetes version\n- \"\",\"-\": picks the default Kubernetes version",
                                                        "type": "string"
                                                    },
                                                    "initialNodeCount": {
                                                        "description": "The number of nodes to create in this cluster. You must ensure that your\nCompute Engine <a href=\"/compute/docs/resource-quotas\">resource quota</a>\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"node_config\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "instanceGroupUrls": {
                                                        "description": "Deprecated. Use node_pools.instance_group_urls.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "ipAllocationPolicy": {
                                                        "description": "Configuration for cluster IP allocation.",
                                                        "properties": {
                                                            "clusterIpv4Cidr": {
                                                                "description": "This field is deprecated, use cluster_ipv4_cidr_block.",
                                                                "type": "string"
                                                            },
                                                            "clusterIpv4CidrBlock": {
                                                                "description": "The IP address range for the cluster pod IPs. If this field is set, then\n`cluster.cluster_ipv4_cidr` must be left blank.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
                                                                "type": "string"
                                                            },
                                                            "clusterSecondaryRangeName": {
                                                                "description": "The name of the secondary range to be used for the cluster CIDR\nblock.  The secondary range will be used for pod IP\naddresses. This must be an existing secondary range associated\nwith the cluster subnetwork.\n\nThis field is only applicable with use_ip_aliases is true and\ncreate_subnetwork is false.",
                                                                "type": "string"
                                                            },
                                                            "createSubnetwork": {
                                                                "description": "Whether a new subnetwork will be created automatically for the cluster.\n\nThis field is only applicable when `use_ip_aliases` is true.",
                                                                "type": "boolean"
                                                            },
                                                            "nodeIpv4Cidr": {
                                                                "description": "This field is deprecated, use node_ipv4_cidr_block.",
                                                                "type": "string"
                                                            },
                                                            "nodeIpv4CidrBlock": {
                                                                "description": "The IP address range of the instance IPs in this cluster.\n\nThis is applicable only if `create_subnetwork` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
                                                                "type": "string"
                                                            },
                                                            "servicesIpv4Cidr": {
                                                                "description": "This field is deprecated, use services_ipv4_cidr_block.",
                                                                "type": "string"
                                                            },
                                                            "servicesIpv4CidrBlock": {
                                                                "description": "The IP address range of the services IPs in this cluster. If blank, a range\nwill be automatically chosen with the default size.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
                                                                "type": "string"
                                                            },
                                                            "servicesSecondaryRangeName": {
                                                                "description": "The name of the secondary range to be used as for the services\nCIDR block.  The secondary range will be used for service\nClusterIPs. This must be an existing secondary range associated\nwith the cluster subnetwork.\n\nThis field is only applicable with use_ip_aliases is true and\ncreate_subnetwork is false.",
                                                                "type": "string"
                                                            },
                                                            "subnetworkName": {
                                                                "description": "A custom subnetwork name to be used if `create_subnetwork` is true.  If\nthis field is empty, then an automatic name will be chosen for the new\nsubnetwork.",
                                                                "type": "string"
                                                            },
                                                            "useIpAliases": {
                                                                "description": "Whether alias IPs will be used for pod IPs in the cluster.",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "labelFingerprint": {
                                                        "description": "The fingerprint of the set of labels for this cluster.",
                                                        "type": "string"
                                                    },
                                                    "legacyAbac": {
                                                        "description": "Configuration for the legacy ABAC authorization mode.",
                                                        "properties": {
                                                            "enabled": {
                                                                "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled,\nidentities in the system, including service accounts, nodes, and\ncontrollers, will have statically granted permissions beyond those\nprovided by the RBAC configuration or IAM.",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "location": {
                                                        "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/regions-zones/regions-zones#available) or\n[region](/compute/docs/regions-zones/regions-zones#available) in which\nthe cluster resides.",
                                                        "type": "string"
                                                    },
                                                    "locations": {
                                                        "description": "The list of Google Compute Engine\n[zones](/compute/docs/zones#available) in which the cluster's nodes\nshould be located.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "loggingService": {
                                                        "description": "The logging service the cluster should use to write logs.\nCurrently available options:\n\n* `logging.googleapis.com` - the Google Cloud Logging service.\n* `none` - no logs will be exported from the cluster.\n* if left as an empty string,`logging.googleapis.com` will be used.",
                                                        "type": "string"
                                                    },
                                                    "maintenancePolicy": {
                                                        "description": "Configure the maintenance policy for this cluster.",
                                                        "properties": {
                                                            "window": {
                                                                "description": "Specifies the maintenance window in which maintenance may be performed.",
                                                                "properties": {
                                                                    "dailyMaintenanceWindow": {
                                                                        "description": "DailyMaintenanceWindow specifies a daily maintenance operation window.",
                                                                        "properties": {
                                                                            "duration": {
                                                                                "description": "[Output only] Duration of the time window, automatically chosen to be\nsmallest possible in the given scenario.\nDuration will be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)\nformat \"PTnHnMnS\".",
                                                                                "type": "string"
                                                                            },
                                                                            "startTime": {
                                                                                "description": "Time within the maintenance window to start the maintenance operations.\nTime format should be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)\nformat \"HH:MM”, where HH : [00-23] and MM : [00-59] GMT.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "masterAuth": {
                                                        "description": "The authentication information for accessing the master endpoint.\nIf unspecified, the defaults are used:\nFor clusters before v1.12, if master_auth is unspecified, `username` will\nbe set to \"admin\", a random password will be generated, and a client\ncertificate will be issued.",
                                                        "properties": {
                                                            "clientCertificate": {
                                                                "description": "[Output only] Base64-encoded public certificate used by clients to\nauthenticate to the cluster endpoint.",
                                                                "type": "string"
                                                            },
                                                            "clientCertificateConfig": {
                                                                "description": "Configuration for client certificate authentication on the cluster. For\nclusters before v1.12, if no configuration is specified, a client\ncertificate is issued.",
                                                                "properties": {
                                                                    "issueClientCertificate": {
                                                                        "description": "Issue a client certificate.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "clientKey": {
                                                                "description": "[Output only] Base64-encoded private key used by clients to authenticate\nto the cluster endpoint.",
                                                                "type": "string"
                                                            },
                                                            "clusterCaCertificate": {
                                                                "description": "[Output only] Base64-encoded public certificate that is the root of\ntrust for the cluster.",
                                                                "type": "string"
                                                            },
                                                            "password": {
                                                                "description": "The password to use for HTTP basic authentication to the master endpoint.\nBecause the master endpoint is open to the Internet, you should create a\nstrong password.  If a password is provided for cluster creation, username\nmust be non-empty.",
                                                                "type": "string"
                                                            },
                                                            "username": {
                                                                "description": "The username to use for HTTP basic authentication to the master endpoint.\nFor clusters v1.6.0 and later, basic authentication can be disabled by\nleaving username unspecified (or setting it to the empty string).",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "masterAuthorizedNetworksConfig": {
                                                        "description": "The configuration options for master authorized networks feature.",
                                                        "properties": {
                                                            "cidrBlocks": {
                                                                "description": "cidr_blocks define up to 10 external networks that could access\nKubernetes master through HTTPS.",
                                                                "items": {
                                                                    "description": "CidrBlock contains an optional name and one CIDR block.",
                                                                    "properties": {
                                                                        "cidrBlock": {
                                                                            "description": "cidr_block must be specified in CIDR notation.",
                                                                            "type": "string"
                                                                        },
                                                                        "displayName": {
                                                                            "description": "display_name is an optional field for users to identify CIDR blocks.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "enabled": {
                                                                "description": "Whether or not master authorized networks is enabled.",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "monitoringService": {
                                                        "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* `monitoring.googleapis.com` - the Google Cloud Monitoring service.\n* `none` - no metrics will be exported from the cluster.\n* if left as an empty string, `monitoring.googleapis.com` will be used.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of this cluster. The name must be unique within this project\nand zone, and can be up to 40 characters with the following restrictions:\n\n* Lowercase letters, numbers, and hyphens only.\n* Must start with a letter.\n* Must end with a number or a letter.",
                                                        "type": "string"
                                                    },
                                                    "network": {
                                                        "description": "The name of the Google Compute Engine\n[network](/compute/docs/networks-and-firewalls#networks) to which the\ncluster is connected. If left unspecified, the `default` network\nwill be used.",
                                                        "type": "string"
                                                    },
                                                    "networkConfig": {
                                                        "description": "Configuration for cluster networking.",
                                                        "properties": {
                                                            "network": {
                                                                "description": "Output only. The relative name of the Google Compute Engine\nnetwork(/compute/docs/networks-and-firewalls#networks) to which\nthe cluster is connected.\nExample: projects/my-project/global/networks/my-network",
                                                                "type": "string"
                                                            },
                                                            "subnetwork": {
                                                                "description": "Output only. The relative name of the Google Compute Engine\n[subnetwork](/compute/docs/vpc) to which the cluster is connected.\nExample: projects/my-project/regions/us-central1/subnetworks/my-subnet",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "networkPolicy": {
                                                        "description": "Configuration options for the NetworkPolicy feature.",
                                                        "properties": {
                                                            "enabled": {
                                                                "description": "Whether network policy is enabled on the cluster.",
                                                                "type": "boolean"
                                                            },
                                                            "provider": {
                                                                "description": "The selected network policy provider.",
                                                                "enum": [
                                                                    "PROVIDER_UNSPECIFIED",
                                                                    "CALICO"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "nodeConfig": {
                                                        "description": "Parameters used in creating the cluster's nodes.\nSee `nodeConfig` for the description of its properties.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"initial_node_count\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.\nFor responses, this field will be populated with the node configuration of\nthe first node pool.\n\nIf unspecified, the defaults are used.",
                                                        "properties": {
                                                            "accelerators": {
                                                                "description": "A list of hardware accelerators to be attached to each node.\nSee https://cloud.google.com/compute/docs/gpus for more information about\nsupport for GPUs.",
                                                                "items": {
                                                                    "description": "AcceleratorConfig represents a Hardware Accelerator request.",
                                                                    "properties": {
                                                                        "acceleratorCount": {
                                                                            "description": "The number of the accelerator cards exposed to an instance.",
                                                                            "format": "int64",
                                                                            "type": "string"
                                                                        },
                                                                        "acceleratorType": {
                                                                            "description": "The accelerator type resource name. List of supported accelerators\n[here](/compute/docs/gpus/#Introduction)",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "diskSizeGb": {
                                                                "description": "Size of the disk attached to each node, specified in GB.\nThe smallest allowed disk size is 10GB.\n\nIf unspecified, the default disk size is 100GB.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "diskType": {
                                                                "description": "Type of the disk attached to each node (e.g. 'pd-standard' or 'pd-ssd')\n\nIf unspecified, the default disk type is 'pd-standard'",
                                                                "type": "string"
                                                            },
                                                            "imageType": {
                                                                "description": "The image type to use for this node. Note that for a given image type,\nthe latest version of it will be used.",
                                                                "type": "string"
                                                            },
                                                            "labels": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node.\nThese will added in addition to any default label(s) that\nKubernetes may apply to the node.\nIn case of conflict in label keys, the applied set may differ depending on\nthe Kubernetes version -- it's best to assume the behavior is undefined\nand conflicts should be avoided.\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
                                                                "type": "object"
                                                            },
                                                            "localSsdCount": {
                                                                "description": "The number of local SSD disks to be attached to the node.\n\nThe limit for this value is dependant upon the maximum number of\ndisks available on a machine per zone. See:\nhttps://cloud.google.com/compute/docs/disks/local-ssd#local_ssd_limits\nfor more information.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "machineType": {
                                                                "description": "The name of a Google Compute Engine [machine\ntype](/compute/docs/machine-types) (e.g.\n`n1-standard-1`).\n\nIf unspecified, the default machine type is\n`n1-standard-1`.",
                                                                "type": "string"
                                                            },
                                                            "metadata": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The metadata key/value pairs assigned to instances in the cluster.\n\nKeys must conform to the regexp [a-zA-Z0-9-_]+ and be less than 128 bytes\nin length. These are reflected as part of a URL in the metadata server.\nAdditionally, to avoid ambiguity, keys must not conflict with any other\nmetadata keys for the project or be one of the reserved keys:\n \"cluster-location\"\n \"cluster-name\"\n \"cluster-uid\"\n \"configure-sh\"\n \"containerd-configure-sh\"\n \"enable-os-login\"\n \"gci-update-strategy\"\n \"gci-ensure-gke-docker\"\n \"instance-template\"\n \"kube-env\"\n \"startup-script\"\n \"user-data\"\n\nValues are free-form strings, and only have meaning as interpreted by\nthe image running in the instance. The only restriction placed on them is\nthat each value's size must be less than or equal to 32 KB.\n\nThe total size of all keys and values must be less than 512 KB.",
                                                                "type": "object"
                                                            },
                                                            "minCpuPlatform": {
                                                                "description": "Minimum CPU platform to be used by this instance. The instance may be\nscheduled on the specified or newer CPU platform. Applicable values are the\nfriendly names of CPU platforms, such as\n<code>minCpuPlatform: &quot;Intel Haswell&quot;</code> or\n<code>minCpuPlatform: &quot;Intel Sandy Bridge&quot;</code>. For more\ninformation, read [how to specify min CPU\nplatform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)",
                                                                "type": "string"
                                                            },
                                                            "oauthScopes": {
                                                                "description": "The set of Google API scopes to be made available on all of the\nnode VMs under the \"default\" service account.\n\nThe following scopes are recommended, but not required, and by default are\nnot included:\n\n* `https://www.googleapis.com/auth/compute` is required for mounting\npersistent storage on your nodes.\n* `https://www.googleapis.com/auth/devstorage.read_only` is required for\ncommunicating with **gcr.io**\n(the [Google Container Registry](/container-registry/)).\n\nIf unspecified, no scopes are added, unless Cloud Logging or Cloud\nMonitoring are enabled, in which case their required scopes will be added.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "preemptible": {
                                                                "description": "Whether the nodes are created as preemptible VM instances. See:\nhttps://cloud.google.com/compute/docs/instances/preemptible for more\ninformation about preemptible VM instances.",
                                                                "type": "boolean"
                                                            },
                                                            "serviceAccount": {
                                                                "description": "The Google Cloud Platform Service Account to be used by the node VMs. If\nno Service Account is specified, the \"default\" service account is used.",
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "description": "The list of instance tags applied to all nodes. Tags are used to identify\nvalid sources or targets for network firewalls and are specified by\nthe client during cluster or node pool creation. Each tag within the list\nmust comply with RFC1035.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "taints": {
                                                                "description": "List of kubernetes taints to be applied to each node.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
                                                                "items": {
                                                                    "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect\ncan only be one of three types:  NoSchedule, PreferNoSchedule or NoExecute.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
                                                                    "properties": {
                                                                        "effect": {
                                                                            "description": "Effect for taint.",
                                                                            "enum": [
                                                                                "EFFECT_UNSPECIFIED",
                                                                                "NO_SCHEDULE",
                                                                                "PREFER_NO_SCHEDULE",
                                                                                "NO_EXECUTE"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "key": {
                                                                            "description": "Key for taint.",
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "Value for taint.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "nodeIpv4CidrSize": {
                                                        "description": "[Output only] The size of the address space on each node for hosting\ncontainers. This is provisioned from within the `container_ipv4_cidr`\nrange.",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "nodePools": {
                                                        "description": "The node pools associated with this cluster.\nThis field should not be set if \"node_config\" or \"initial_node_count\" are\nspecified.",
                                                        "items": {
                                                            "description": "NodePool contains the name and configuration for a cluster's node pool.\nNode pools are a set of nodes (i.e. VM's), with a common configuration and\nspecification, under the control of the cluster master. They may have a set\nof Kubernetes labels applied to them, which may be used to reference them\nduring pod scheduling. They may also be resized up or down, to accommodate\nthe workload.",
                                                            "properties": {
                                                                "autoscaling": {
                                                                    "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled\nonly if a valid configuration is present.",
                                                                    "properties": {
                                                                        "enabled": {
                                                                            "description": "Is autoscaling enabled for this node pool.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "maxNodeCount": {
                                                                            "description": "Maximum number of nodes in the NodePool. Must be >= min_node_count. There\nhas to enough quota to scale up the cluster.",
                                                                            "format": "int32",
                                                                            "type": "integer"
                                                                        },
                                                                        "minNodeCount": {
                                                                            "description": "Minimum number of nodes in the NodePool. Must be >= 1 and <=\nmax_node_count.",
                                                                            "format": "int32",
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "conditions": {
                                                                    "description": "Which conditions caused the current node pool state.",
                                                                    "items": {
                                                                        "description": "StatusCondition describes why a cluster or a node pool has a certain status\n(e.g., ERROR or DEGRADED).",
                                                                        "properties": {
                                                                            "code": {
                                                                                "description": "Machine-friendly representation of the condition",
                                                                                "enum": [
                                                                                    "UNKNOWN",
                                                                                    "GCE_STOCKOUT",
                                                                                    "GKE_SERVICE_ACCOUNT_DELETED",
                                                                                    "GCE_QUOTA_EXCEEDED",
                                                                                    "SET_BY_OPERATOR"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "message": {
                                                                                "description": "Human-friendly representation of the condition",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "config": {
                                                                    "description": "The node configuration of the pool.",
                                                                    "properties": {
                                                                        "accelerators": {
                                                                            "description": "A list of hardware accelerators to be attached to each node.\nSee https://cloud.google.com/compute/docs/gpus for more information about\nsupport for GPUs.",
                                                                            "items": {
                                                                                "description": "AcceleratorConfig represents a Hardware Accelerator request.",
                                                                                "properties": {
                                                                                    "acceleratorCount": {
                                                                                        "description": "The number of the accelerator cards exposed to an instance.",
                                                                                        "format": "int64",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "acceleratorType": {
                                                                                        "description": "The accelerator type resource name. List of supported accelerators\n[here](/compute/docs/gpus/#Introduction)",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "diskSizeGb": {
                                                                            "description": "Size of the disk attached to each node, specified in GB.\nThe smallest allowed disk size is 10GB.\n\nIf unspecified, the default disk size is 100GB.",
                                                                            "format": "int32",
                                                                            "type": "integer"
                                                                        },
                                                                        "diskType": {
                                                                            "description": "Type of the disk attached to each node (e.g. 'pd-standard' or 'pd-ssd')\n\nIf unspecified, the default disk type is 'pd-standard'",
                                                                            "type": "string"
                                                                        },
                                                                        "imageType": {
                                                                            "description": "The image type to use for this node. Note that for a given image type,\nthe latest version of it will be used.",
                                                                            "type": "string"
                                                                        },
                                                                        "labels": {
                                                                            "additionalProperties": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node.\nThese will added in addition to any default label(s) that\nKubernetes may apply to the node.\nIn case of conflict in label keys, the applied set may differ depending on\nthe Kubernetes version -- it's best to assume the behavior is undefined\nand conflicts should be avoided.\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
                                                                            "type": "object"
                                                                        },
                                                                        "localSsdCount": {
                                                                            "description": "The number of local SSD disks to be attached to the node.\n\nThe limit for this value is dependant upon the maximum number of\ndisks available on a machine per zone. See:\nhttps://cloud.google.com/compute/docs/disks/local-ssd#local_ssd_limits\nfor more information.",
                                                                            "format": "int32",
                                                                            "type": "integer"
                                                                        },
                                                                        "machineType": {
                                                                            "description": "The name of a Google Compute Engine [machine\ntype](/compute/docs/machine-types) (e.g.\n`n1-standard-1`).\n\nIf unspecified, the default machine type is\n`n1-standard-1`.",
                                                                            "type": "string"
                                                                        },
                                                                        "metadata": {
                                                                            "additionalProperties": {
                                                                                "type": "string"
                                                                            },
                                                                            "description": "The metadata key/value pairs assigned to instances in the cluster.\n\nKeys must conform to the regexp [a-zA-Z0-9-_]+ and be less than 128 bytes\nin length. These are reflected as part of a URL in the metadata server.\nAdditionally, to avoid ambiguity, keys must not conflict with any other\nmetadata keys for the project or be one of the reserved keys:\n \"cluster-location\"\n \"cluster-name\"\n \"cluster-uid\"\n \"configure-sh\"\n \"containerd-configure-sh\"\n \"enable-os-login\"\n \"gci-update-strategy\"\n \"gci-ensure-gke-docker\"\n \"instance-template\"\n \"kube-env\"\n \"startup-script\"\n \"user-data\"\n\nValues are free-form strings, and only have meaning as interpreted by\nthe image running in the instance. The only restriction placed on them is\nthat each value's size must be less than or equal to 32 KB.\n\nThe total size of all keys and values must be less than 512 KB.",
                                                                            "type": "object"
                                                                        },
                                                                        "minCpuPlatform": {
                                                                            "description": "Minimum CPU platform to be used by this instance. The instance may be\nscheduled on the specified or newer CPU platform. Applicable values are the\nfriendly names of CPU platforms, such as\n<code>minCpuPlatform: &quot;Intel Haswell&quot;</code> or\n<code>minCpuPlatform: &quot;Intel Sandy Bridge&quot;</code>. For more\ninformation, read [how to specify min CPU\nplatform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)",
                                                                            "type": "string"
                                                                        },
                                                                        "oauthScopes": {
                                                                            "description": "The set of Google API scopes to be made available on all of the\nnode VMs under the \"default\" service account.\n\nThe following scopes are recommended, but not required, and by default are\nnot included:\n\n* `https://www.googleapis.com/auth/compute` is required for mounting\npersistent storage on your nodes.\n* `https://www.googleapis.com/auth/devstorage.read_only` is required for\ncommunicating with **gcr.io**\n(the [Google Container Registry](/container-registry/)).\n\nIf unspecified, no scopes are added, unless Cloud Logging or Cloud\nMonitoring are enabled, in which case their required scopes will be added.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "preemptible": {
                                                                            "description": "Whether the nodes are created as preemptible VM instances. See:\nhttps://cloud.google.com/compute/docs/instances/preemptible for more\ninformation about preemptible VM instances.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "serviceAccount": {
                                                                            "description": "The Google Cloud Platform Service Account to be used by the node VMs. If\nno Service Account is specified, the \"default\" service account is used.",
                                                                            "type": "string"
                                                                        },
                                                                        "tags": {
                                                                            "description": "The list of instance tags applied to all nodes. Tags are used to identify\nvalid sources or targets for network firewalls and are specified by\nthe client during cluster or node pool creation. Each tag within the list\nmust comply with RFC1035.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "taints": {
                                                                            "description": "List of kubernetes taints to be applied to each node.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
                                                                            "items": {
                                                                                "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect\ncan only be one of three types:  NoSchedule, PreferNoSchedule or NoExecute.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
                                                                                "properties": {
                                                                                    "effect": {
                                                                                        "description": "Effect for taint.",
                                                                                        "enum": [
                                                                                            "EFFECT_UNSPECIFIED",
                                                                                            "NO_SCHEDULE",
                                                                                            "PREFER_NO_SCHEDULE",
                                                                                            "NO_EXECUTE"
                                                                                        ],
                                                                                        "type": "string"
                                                                                    },
                                                                                    "key": {
                                                                                        "description": "Key for taint.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "value": {
                                                                                        "description": "Value for taint.",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "initialNodeCount": {
                                                                    "description": "The initial node count for the pool. You must ensure that your\nCompute Engine <a href=\"/compute/docs/resource-quotas\">resource quota</a>\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.",
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                },
                                                                "instanceGroupUrls": {
                                                                    "description": "[Output only] The resource URLs of the [managed instance\ngroups](/compute/docs/instance-groups/creating-groups-of-managed-instances)\nassociated with this node pool.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "management": {
                                                                    "description": "NodeManagement configuration for this NodePool.",
                                                                    "properties": {
                                                                        "autoRepair": {
                                                                            "description": "A flag that specifies whether the node auto-repair is enabled for the node\npool. If enabled, the nodes in this node pool will be monitored and, if\nthey fail health checks too many times, an automatic repair action will be\ntriggered.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "autoUpgrade": {
                                                                            "description": "A flag that specifies whether node auto-upgrade is enabled for the node\npool. If enabled, node auto-upgrade helps keep the nodes in your node pool\nup to date with the latest release version of Kubernetes.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "upgradeOptions": {
                                                                            "description": "Specifies the Auto Upgrade knobs for the node pool.",
                                                                            "properties": {
                                                                                "autoUpgradeStartTime": {
                                                                                    "description": "[Output only] This field is set when upgrades are about to commence\nwith the approximate start time for the upgrades, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                                                                                    "type": "string"
                                                                                },
                                                                                "description": {
                                                                                    "description": "[Output only] This field is set when upgrades are about to commence\nwith the description of the upgrade.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "name": {
                                                                    "description": "The name of the node pool.",
                                                                    "type": "string"
                                                                },
                                                                "selfLink": {
                                                                    "description": "[Output only] Server-defined URL for the resource.",
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "description": "[Output only] The status of the nodes in this pool instance.",
                                                                    "enum": [
                                                                        "STATUS_UNSPECIFIED",
                                                                        "PROVISIONING",
                                                                        "RUNNING",
                                                                        "RUNNING_WITH_ERROR",
                                                                        "RECONCILING",
                                                                        "STOPPING",
                                                                        "ERROR"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "statusMessage": {
                                                                    "description": "[Output only] Additional information about the current status of this\nnode pool instance, if available.",
                                                                    "type": "string"
                                                                },
                                                                "version": {
                                                                    "description": "The version of the Kubernetes of this node.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "privateClusterConfig": {
                                                        "description": "Configuration for private cluster.",
                                                        "properties": {
                                                            "enablePrivateEndpoint": {
                                                                "description": "Whether the master's internal IP address is used as the cluster endpoint.",
                                                                "type": "boolean"
                                                            },
                                                            "enablePrivateNodes": {
                                                                "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are\ngiven only RFC 1918 private addresses and communicate with the master via\nprivate networking.",
                                                                "type": "boolean"
                                                            },
                                                            "masterIpv4CidrBlock": {
                                                                "description": "The IP range in CIDR notation to use for the hosted master network. This\nrange will be used for assigning internal IP addresses to the master or\nset of masters, as well as the ILB VIP. This range must not overlap with\nany other ranges in use within the cluster's network.",
                                                                "type": "string"
                                                            },
                                                            "privateEndpoint": {
                                                                "description": "Output only. The internal IP address of this cluster's master endpoint.",
                                                                "type": "string"
                                                            },
                                                            "publicEndpoint": {
                                                                "description": "Output only. The external IP address of this cluster's master endpoint.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "resourceLabels": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "description": "The resource labels for the cluster to use to annotate any related\nGoogle Compute Engine resources.",
                                                        "type": "object"
                                                    },
                                                    "selfLink": {
                                                        "description": "[Output only] Server-defined URL for the resource.",
                                                        "type": "string"
                                                    },
                                                    "servicesIpv4Cidr": {
                                                        "description": "[Output only] The IP address range of the Kubernetes services in\nthis cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `1.2.3.4/29`). Service addresses are\ntypically put in the last `/16` from the container CIDR.",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "[Output only] The current status of this cluster.",
                                                        "enum": [
                                                            "STATUS_UNSPECIFIED",
                                                            "PROVISIONING",
                                                            "RUNNING",
                                                            "RECONCILING",
                                                            "STOPPING",
                                                            "ERROR",
                                                            "DEGRADED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusMessage": {
                                                        "description": "[Output only] Additional information about the current status of this\ncluster, if available.",
                                                        "type": "string"
                                                    },
                                                    "subnetwork": {
                                                        "description": "The name of the Google Compute Engine\n[subnetwork](/compute/docs/subnetworks) to which the\ncluster is connected.",
                                                        "type": "string"
                                                    },
                                                    "zone": {
                                                        "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use location instead.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "missingZones": {
                                            "description": "If any zones are listed here, the list of clusters returned\nmay be missing those zones.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a cluster, consisting of the specified number and type of Google\nCompute Engine instances.\n\nBy default, the cluster is created in the project's\n[default network](/compute/docs/networks-and-firewalls#networks).\n\nOne firewall is added for the cluster. After cluster creation,\nthe cluster creates routes for each node to allow the containers\non that node to communicate with all other instances in the\ncluster.\n\nFinally, an entry is added to the project's global metadata indicating\nwhich CIDR range is being used by the cluster.",
                "operationId": "container.projects.zones.clusters.create",
                "parameters": [
                    {
                        "description": "Deprecated. The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field has been deprecated and replaced by the parent field.",
                        "in": "path",
                        "name": "projectId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Deprecated. The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field has been deprecated and replaced by the parent field.",
                        "in": "path",
                        "name": "zone",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This operation resource represents operations that may have happened or are\nhappening on the cluster. All fields are output only.",
                                    "properties": {
                                        "clusterConditions": {
                                            "description": "Which conditions caused the current cluster state.",
                                            "items": {
                                                "description": "StatusCondition describes why a cluster or a node pool has a certain status\n(e.g., ERROR or DEGRADED).",
                                                "properties": {
                                                    "code": {
                                                        "description": "Machine-friendly representation of the condition",
                                                        "enum": [
                                                            "UNKNOWN",
                                                            "GCE_STOCKOUT",
                                                            "GKE_SERVICE_ACCOUNT_DELETED",
                                                            "GCE_QUOTA_EXCEEDED",
                                                            "SET_BY_OPERATOR"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "description": "Human-friendly representation of the condition",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "detail": {
                                            "description": "Detailed operation progress, if available.",
                                            "type": "string"
                                        },
                                        "endTime": {
                                            "description": "[Output only] The time the operation completed, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                                            "type": "string"
                                        },
                                        "location": {
[...]
